.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, .5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .content {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
  }

  .content-wrapper {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    width: 80vw;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }

  .confirmBtn {
    background-color: red;
    color: #fff;
  }
}

.hidden {
  display: none !important;
}